server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/aqi_db
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  redis:
    host: localhost
    port: 6379

jwt:
  secret: c3VwZXJTZWNyZXRLZXlGb3JKV1RIZDI1Ng==
  expiration: 3600000
